// font-family: "Raleway", sans-serif;
// font-family: "Raleway", sans-serif;
// font-family: "Playfair Display", serif;
// font-family: "Roboto", sans-serif;


// Fonts


$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;


// Colors

$dark: rgb(36, 43, 51);
$accent: rgb(212, 193, 127);
$white: #fff;
$footer-bg: rgb(45, 52, 60);